.comments
    display: flex
    justify-content: space-evenly
    h4
        font-size: 1.3rem
        margin-top: 0
    form
        margin-left: 2rem
        display: flex
        flex-direction: column
        label
            font-size: 1.3rem
        input, textarea
            font-size: 1.3rem
            margin:0 0 0 0
    &__map
        @extend .glowingBorders
        width: 500px
        height: 500px

.input-control 
    display: flex
    flex-direction: column

.success input
    border-color: $flashGreen

.error input 
    border-color: #e73b3b
    
.error textarea 
    border-color: #e73b3b

.errorMessage
    color: red
    font-size: 16px
    height: 23px
    display: inline-block