@font-face {
  font-family: matrixFont;
  src: url(matrix.ttf) format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.matrixConsoleBG {
  background-image: url("../imgs/matrixconsole-mediumwide.webp");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: contain;
}

.glowingBG, .takeAPill__btn:hover {
  box-shadow: 0 0 1.5rem #3bff6c;
}

.glowingBorders, .comments__map, .actorCard, .filmsContainer img, .takeAPill {
  border: solid 0.1rem #003B00;
  box-shadow: 0 0 0.8rem #003B00;
}

.blackBG, .actorCard {
  background-color: #000000;
  color: #ffffff;
  background-image: url("../imgs/rustbg.jpg");
  background-position: center top;
  padding: 3rem 0 6rem 0;
  margin: 0 0 8rem 0;
  border-bottom: solid 0.1rem #003B00;
  border-top: solid 0.1rem #003B00;
  box-shadow: 0 0 0.8rem #003B00;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.centeredTitle {
  text-align: center;
  color: #3bff6c;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-family: matrixFont;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 3rem 0 0 0;
  padding: 0;
}
.logo h1 {
  padding: 0;
  margin: 0;
}
.logo__img {
  width: 300px;
  filter: drop-shadow(0 0 0.5rem #000000);
}

.mainMenu {
  display: flex;
  list-style: none;
  margin: 2rem 0 3rem 0;
  padding: 0;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.mainMenu__item a {
  font-size: 1.4rem;
  font-family: matrixFont;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #3bff6c;
  text-shadow: 0 0 0.5rem #000000, 0 0 0.5rem #000000, 0 0 0.5rem #000000, 0 0 0.5rem #000000, 0 0 0.5rem #000000, 0 0 0.5rem #000000;
}
.mainMenu__item a:hover {
  color: #cdffd9;
  text-shadow: 0 0 1rem #3bff6c;
}
.mainMenu__item a:active {
  color: #003B00;
  text-shadow: 0 0 1rem #00a413;
}

.mainImg {
  width: 100%;
}

.newsletter {
  margin: 12rem 0 12rem 0;
  background-image: url("../imgs/getoverhere.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40vw;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newsletter__container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
}
.newsletter__label {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #cdffd9;
  text-align: center;
}
.newsletter input {
  margin: 0 0 0.3rem 0;
}

.takeAPill {
  background-image: url("../imgs/pills.webp");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.takeAPill__btn {
  border: 0.2rem solid #000000;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  color: #cdffd9;
}
.takeAPill__btn--red {
  background-color: rgb(176, 48, 39);
}
.takeAPill__btn--blue {
  background-color: rgb(36, 65, 161);
}
.imgGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 5rem;
  padding: 0 5rem 0 5rem;
  margin-bottom: 8rem;
}
.imgGallery__item {
  border: solid 0.1rem #003B00;
  box-shadow: 0 0 0.8rem #003B00;
  width: 100%;
}
.imgGallery__item--big1 {
  grid-column: 1/3;
  grid-row: 2/3;
  border: solid 0.1rem #00a413;
  box-shadow: 0 0 0.8rem #00a413;
}
.imgGallery__item--big2 {
  grid-column: 1/3;
  grid-row: 3/4;
  border: solid 0.1rem #3bff6c;
  box-shadow: 0 0 0.8rem #3bff6c;
}

.filmsContainer {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}
.filmsContainer__film {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 500px;
}
.filmsContainer__film h3 {
  color: #3bff6c;
  font-size: 1.5rem;
}
.filmsContainer p {
  text-align: center;
  color: #cdffd9;
}

.critique {
  display: flex;
  justify-content: space-evenly;
  color: #cdffd9;
  gap: 3rem;
  text-align: center;
}
.critique__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.critique__card a {
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1.5rem;
}
.critique__btn--imdb {
  background-color: rgb(246, 199, 0);
  color: #000000;
}
.critique__btn--imdb:hover {
  background-color: #000000;
  color: rgb(246, 199, 0);
  outline: 0.2rem solid #003B00;
}
.critique__btn--rottenTomatoes {
  background-color: rgb(249, 49, 9);
  color: #000000;
}
.critique__btn--rottenTomatoes:hover {
  background-color: #000000;
  color: rgb(249, 49, 9);
  outline: 0.2rem solid #003B00;
}
.critique__imdbLogo {
  width: 200px;
}
.critique__rottenTomatoesLogo {
  width: 300px;
}
.critique h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.critique span {
  font-size: 3rem;
  font-weight: bold;
  color: #3bff6c;
}

.actorCardContainer {
  display: grid;
  gap: 2rem;
  justify-content: center;
  margin: 0 0 6rem 0;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.actorCard {
  display: flex;
  flex-basis: 200px;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  margin: 0;
}
.actorCard h3 {
  font-size: 1.6rem;
  color: #3bff6c;
  margin-bottom: 0;
}
.actorCard h4 {
  font-size: 1.3rem;
  margin: 0.5rem 0 0 0;
  color: #cdffd9;
}
.actorCard__img {
  border-radius: 10rem;
}
.actorCard__socialContainer a {
  text-decoration: none;
}

.comments {
  display: flex;
  justify-content: space-evenly;
}
.comments h4 {
  font-size: 1.3rem;
  margin-top: 0;
}
.comments form {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.comments form label {
  font-size: 1.3rem;
}
.comments form input, .comments form textarea {
  font-size: 1.3rem;
  margin: 0 0 0 0;
}
.comments__map {
  width: 500px;
  height: 500px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.success input {
  border-color: #3bff6c;
}

.error input {
  border-color: #e73b3b;
}

.error textarea {
  border-color: #e73b3b;
}

.errorMessage {
  color: red;
  font-size: 16px;
  height: 23px;
  display: inline-block;
}

.bottomFooterInfo {
  color: #cdffd9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
}
.bottomFooterInfo img {
  width: 30px;
  height: 30px;
}
.bottomFooterInfo__telEmail {
  display: flex;
  align-items: center;
}
.bottomFooterInfo__telEmail a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #cdffd9;
}
.bottomFooterInfo__telEmail a:hover {
  color: #3bff6c;
}
.bottomFooterInfo__telEmail span {
  margin: 0 1rem 0 1rem;
}

@media screen and (max-width: 1200px) {
  .centeredTitle {
    font-size: 2.5rem;
  }
  .filmsContainer {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 960px) {
  .matrixConsoleBG {
    background-size: cover;
  }
  .centeredTitle {
    font-size: 2rem;
  }
  .spacer {
    padding-top: 3rem;
  }
  .imgGallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: auto;
    grid-row: auto;
  }
  .imgGallery__item--big1 {
    grid-column: auto !important;
    grid-row: auto !important;
  }
  .imgGallery__item--big2 {
    grid-column: auto !important;
    grid-row: auto !important;
  }
  .actorCardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .comments {
    flex-direction: column;
    align-items: center;
  }
  .comments form {
    margin-left: 0;
  }
  .bottomFooterInfo {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 570px) {
  .critique {
    flex-direction: column;
    gap: 5rem;
  }
  .bottomFooterInfo {
    font-size: 0.6rem;
  }
}