@font-face {
  font-family: matrixFont;
  src: url(matrix.ttf) format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #000000;
  color: #cdffd9;
  background-image: url("../imgs/matrixconsole-mediumwide.webp");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: contain;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 3rem 0 0 0;
  padding: 0;
}
.logo h1 {
  padding: 0;
  margin: 0;
}
.logo__img {
  width: 300px;
}

.mainMenu {
  display: flex;
  list-style: none;
  margin: 2rem 0 3rem 0;
  padding: 0;
  gap: 2rem;
}
.mainMenu__item a {
  font-size: 1.4rem;
  font-family: matrixFont;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #3bff6c;
  text-shadow: 0 0 0.5rem #3bff6c;
}
.mainMenu__item a:hover {
  color: #cdffd9;
}

.mainImg {
  width: 100%;
  box-shadow: 0 0 1.5rem #3bff6c;
}