$black: rgb(0, 0, 0,)
$darkGreen: #003B00
$midGreen: #008F11
$flashGreen: #3bff6c
$lightGreen: #cdffd9
$white: #ffffff
$black: #000000

@font-face
    font-family: matrixFont
    src: url(matrix.ttf) format('truetype')

* 
    box-sizing: border-box
    font-family: 'Courier New', Courier, monospace

body
    background-color: $black
    color: $lightGreen
    // J'ai essayé avec un webp mais le fichier gif est plus petit et plus beau
    // J'ai réduit le fichier initial de 7MB à 737KB
    background-image: url('../imgs/matrixconsole-mediumwide.webp')
    background-repeat: repeat-x
    background-attachment: fixed
    background-size: contain

.container
    width: 90%
    max-width: 1200px
    margin: 0 auto
    padding: 0
    //background-color: red

header
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    //background-color: blue

.logo
    margin: 3rem 0 0 0
    padding: 0
    h1
        padding: 0
        margin: 0
    &__img
        width: 300px

.mainMenu
    display: flex
    list-style: none
    margin: 2rem 0 3rem 0
    padding: 0
    gap: 2rem
    &__item
        a
            font-size: 1.4rem
            font-family: matrixFont
            letter-spacing: 0.1rem
            text-decoration: none
            color: $flashGreen
            text-shadow: 0 0 0.5rem $flashGreen
            &:hover
                color: $lightGreen

.mainImg
    width: 100%
    box-shadow: 0 0 1.5rem $flashGreen