$darkGreen: #003B00
$midGreen: #00a413
$flashGreen: #3bff6c
$lightGreen: #cdffd9
$white: #ffffff
$black: #000000

@font-face
    font-family: matrixFont
    src: url(matrix.ttf) format('truetype')

* 
    box-sizing: border-bfox
    font-family: 'Courier New', Courier, monospace

html, body
    width: 100%
    height: 100%
    margin: 0px
    padding: 0px
    overflow-x: hidden

.container
    width: 90%
    max-width: 1200px
    margin: 0 auto
    padding: 0

.matrixConsoleBG
    background-image: url('../imgs/matrixconsole-mediumwide.webp')
    background-repeat: repeat-x
    background-attachment: fixed
    background-size: cover

.glowingBG
    box-shadow: 0 0 1.5rem $flashGreen

.glowingBorders
    border: solid 0.1rem $darkGreen
    box-shadow: 0 0 0.8rem $darkGreen

.blackBG
    background-color: $black
    color: $white
    background-image: url('../imgs/rustbg.jpg')
    background-position: center top
    padding:3rem 0 6rem 0
    margin:0 0 8rem 0
    border-bottom: solid 0.1rem $darkGreen
    border-top: solid 0.1rem $darkGreen
    box-shadow: 0 0 0.8rem $darkGreen

.centeredTitle
    text-align: center
    color: $flashGreen
    font-size: 3rem
    letter-spacing: 0.1rem
    font-family: matrixFont
    
.centeredContent
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.logo
    margin: 3rem 0 0 0
    padding: 0
    h1
        padding: 0
        margin: 0
    &__img
        width: 300px
        filter: drop-shadow(0 0 0.5rem $black)

.mainMenu
    display: flex
    list-style: none
    margin: 2rem 0 3rem 0
    padding: 0
    gap: 2rem
    flex-wrap: wrap
    justify-content: center
    &__item
        a
            font-size: 1.4rem
            font-family: matrixFont
            letter-spacing: 0.1rem
            text-decoration: none
            color: $flashGreen
            text-shadow: 0 0 0.5rem $black, 0 0 0.5rem $black, 0 0 0.5rem $black, 0 0 0.5rem $black, 0 0 0.5rem $black, 0 0 0.5rem $black
            &:hover
                color: $lightGreen
                text-shadow: 0 0 1rem $flashGreen
            &:active
                color: $darkGreen
                text-shadow: 0 0 1rem $midGreen

.mainImg
    width: 100%


@import "_newsletter"

@import "_takeAPill"

@import "_images"

@import "_films"

@import "_critiques"

@import "_actors"

@import "_comments"

.bottomFooterInfo
    color:$lightGreen
    display: flex
    justify-content: space-around
    align-items: center
    padding-bottom: 2rem
    img
        width: 30px
        height: 30px
    &__telEmail
        display: flex
        align-items: center
        a
            display: flex
            align-items: center
            text-decoration: none
            color: $lightGreen
            &:hover
                color: $flashGreen
        span
            margin: 0 1rem 0 1rem

@import "_responsive"